body {
background-image: url(bg.jpg);
color: white;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
    position: absolute;
    margin-top: 38%;
    font-size: 5em;
   
}
#canvas {
    background-image: url(stars.jpg);
    background-size: cover;
    position: absolute;
    border: 1px solid white;
}

div {
    position: relative;
    margin-left: 80%;
}

#selfDestroy{
margin-top: 5%;
border-radius: 50%;
height: 150px;
width: 150px;
background-color: red;
color: whitesmoke;
transition: 0.5s;
font-size: 1.5em;

}

#selfDestroy:hover{
    transform: scale(1.05);
}
button {
    background-color: black;
    color: white; 
    height: 30px;
    width: 200px;
    margin-top: 5%;
    border-width: 1px;
    border-color: white;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.05);
}
ol{ 
    margin-top: 90%;
    margin-left: 80%;
}